<h1>Stupid Coaching</h1>
<p><em>Ask your coach anything!</em></p>
<p class="question"><q><%= @question %></q> <br><br><em> - You</em></p>
<p class="answer"><q><%= @answer %></q> <br><br> <em> - Coach</em></p>
